<div class="container">
  <div class="section-title">
    <span>Mis Servicios</span>
    <h2>El Mejor Servicio que el Cliente necesita</h2>
    <p>
      Aquí podras conocer los servicios que ofrezco como desarrollador, si no
      ves lo que necesitas no dudes en contactarme para responderte de manera
      personal.
    </p>
  </div>

  <div class="row" style="margin-left: 0; margin-right: 0">
    <div class="col-lg-4 col-md-6">
      <div class="our-service-card">
        <i class="las la-code bg-1"></i>
        <h3>Desarrollo Web</h3>
        <p>
          Diseño y programación de paginas web con dificultad basica, media y
          complejas con buenas practicas.
        </p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6">
      <div class="our-service-card">
        <i class="las la-mobile bg-2"></i>
        <h3>Aplicaciones Hibridas</h3>
        <p>
          On the other hand, we denounce with righteous indignation and dislike
          men who are so beguiled and demoralized by the.
        </p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6">
      <div class="our-service-card">
        <i class="las la-layer-group bg-4"></i>
        <h3>Desarrollo Multi Plataforma</h3>
        <p>
          On the other hand, we denounce with righteous indignation and dislike
          men who are so beguiled and demoralized by the.
        </p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6">
      <div class="our-service-card">
        <i class="las la-database bg-5"></i>

        <h3>Base de Datos</h3>
        <p>
          On the other hand, we denounce with righteous indignation and dislike
          men who are so beguiled and demoralized by the.
        </p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6">
      <div class="our-service-card">
        <i class="las la-server bg-3"></i>
        <h3>Desarrollo BackEnd</h3>
        <p>
          On the other hand, we denounce with righteous indignation and dislike
          men who are so beguiled and demoralized by the.
        </p>
      </div>
    </div>

    <div class="col-lg-4 col-md-6">
      <div class="our-service-card">
        <i class="las la-chart-pie bg-6"></i>
        <h3>Estrategias de Negocios</h3>
        <p>
          On the other hand, we denounce with righteous indignation and dislike
          men who are so beguiled and demoralized by the.
        </p>
      </div>
    </div>
  </div>
</div>
