
<ng-container>
  <!-- Preloader -->
  <div class="preloader">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="lds-hourglass"></div>
        </div>
    </div>
  </div>
<!-- End Preloader -->
    <!-- Nabvar Area -->
    <app-navbar></app-navbar>
    <!-- End Nabvar Area -->
  
    <!-- Personal Banner Area -->
    <div id="home" class="personal-banner-area">
      <app-personal></app-personal>
    </div>
    <!-- End Startup Banner Area -->
  
    <!-- Basic Information Area -->
    <div class="information-area pt-100">
      <app-information></app-information>
    </div>
    <!-- End Basic Information Area -->
  
    <!-- My Intro Area -->
    <div id="my-intro" class="who-we-area my-intro pt-70 wow" data-wow-delay="1.5s">
      <app-intro></app-intro>
    </div>
    <!-- End My Intro Area -->
  
    <!-- Our Services Area -->
    <div id="services" class="our-services-area pt-70 pb-70">
      <app-services></app-services>
    </div>
    <!-- End Our Services Area -->
  
    <!-- Fun Fact Area -->
    <div class="fun-facts-area pt-100 pb-70">
      <app-facts></app-facts>
    </div>
    <!-- End Fun Fact Area -->
  
    <!-- Choose Us Area -->
    <div class="choose-us-area choose-area ptb-100">
    <app-choose></app-choose>
    </div>
    <!-- End Choose Us Area -->
  
    <!-- Case Study Area -->
    <div id="portfolio" class="case-study-area pt-100 pb-70">
      <app-portafolio></app-portafolio>
    </div>
    <!-- End Case Study Area -->
  
    <!-- Testimonials Slider Area -->
    <div id="testimonials" class="testimonials-area pt-100">
      <app-testimonials></app-testimonials>
    </div>
    <!-- End Testimonials Slider Area -->
  
    <!-- Contact Area -->
    <div id="contact" class="contact-area pt-70 pb-100">
    <app-contact></app-contact>
    </div>
    <!-- End Contact Area -->
  
    <!-- Footer Area -->
    <app-footer></app-footer>
    <!-- End Footer Area -->
  
    <!-- Go Top -->
    <div class="go-top">
      <i class="las la-angle-double-up"></i>
    </div>
    <!-- End Go Top -->
  
  </ng-container>