<footer class="footer-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="footer-widget">
          <ul class="footer-social">
            <li>
              <a class="bg-1" href="#" target="_blank">
                <i class="lab la-facebook-f bg-1"></i>
              </a>
            </li>
            <li>
              <a
                class="bg-2"
                href="https://github.com/jdpo2008"
                target="_blank"
              >
                <i class="lab la-github bg-2"></i>
              </a>
            </li>
            <li>
              <a class="bg-3" href="#" target="_blank">
                <i class="lab la-linkedin-in bg-3"></i>
              </a>
            </li>
            <li>
              <a
                class="bg-4"
                href="https://www.innovacionesJD.com"
                target="_blank"
              >
                <i class="lab la-instagram bg-4"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-8 col-sm-6 copyright-text">
        <p>
          Copyright @2020. Todos los derechos reservados
          <a href="https://www.innovacionesJD.com" target="_blank"
            >InnovacionesJD</a
          >
        </p>
      </div>
    </div>
  </div>
</footer>
