
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="single-fun-facts">
                <i class="las la-check-double icon-color-1"></i>
                <h3>
                    <span class="odometer" data-count="15">00</span>
                    +
                </h3>
                <p>Proyectos Completos</p>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6">
            <div class="single-fun-facts">
                <i class="las la-clock icon-color-2"></i>
                <h3>
                    <span class="odometer" data-count="2000">00</span>
                    +
                </h3>
                <p>Horas Trabajadas</p>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6">
            <div class="single-fun-facts">
                <i class="las la-award icon-color-3"></i>
                <h3>
                    <span class="odometer" data-count="12">00</span>
                </h3>
                <p>Certificados Obtenidos</p>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6">
            <div class="single-fun-facts">
                <i class="las la-smile-beam icon-color-4"></i>
                <h3>
                    <span class="odometer" data-count="5">00</span>
                    +
                </h3>
                <p>Clientes Felices</p>
            </div>
        </div>
    </div>
</div>