<!-- Nabvar Area -->
<nav class="navbar fixed-top navbar-expand-md main-navbar personal-nav">
    <div class="container">
        <a class="navbar-brand text-white" href="https://www.innovacionesjd.com" target="_blank">
            <img src="./assets/images/JD_Designs_Logo.png" alt="logo" width="80" height="40">InnovacionesJD
        </a>
  
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar top-bar"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#home">Principal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#my-intro">Introducción</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#services">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio">Portfolio</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" href="#testimonials">Testimonios</a>
                </li>    
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contáctame</a>
                </li>                              
            </ul>
        </div>
    </div>
  </nav>
  <!-- End Nabvar Area -->