<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-5">
            <div class="chooses-img-contant">
                <div class="section-title">
                    <span>Porque elegirme</span>
                    <h2>Dedicación, responsabilidad y calidad en lo realizado.</h2>
                </div>

                <div class="choose-us-img">
                    <img src="./assets/images/seo-img/choose-us-1.jpg" alt="Image">
                    <div class="choose-img">
                        <img src="./assets/images/portfolio/choose-us3.png" alt="Image">
                    </div>
                    <div class="popup-video">
                        <div class="d-table">
                            <div class="d-table-cell">
                                <div class="video-btn video-btn-1">
                                    <a href="http://www.youtube.com/watch?v=0O2aH4XLbto" class="popup-youtube">
                                        <i class="las la-play"></i>
                                        <span class="ripple pinkBg"></span>
                                        <span class="ripple pinkBg"></span>
                                        <span class="ripple pinkBg"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-7">
            <div class="choose-card-contant">
                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <div class="choose-card">
                            <i class="las la-sync-alt bg-1"></i>
                            <h3>Busquedad y Análisis</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6">
                        <div class="choose-card">
                            <i class="las la-layer-group bg-2"></i>
                            <h3>Diseño y Prototipado UI/UX</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6">
                        <div class="choose-card">
                            <i class="las la-code bg-3"></i>
                            <h3>Desarrollo Web y Móvil</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6">
                        <div class="choose-card">
                            <i class="las la-chart-bar bg-4"></i>
                            <h3>SEO y Marketing</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>