<div class="container">
    <div class="section-title">
        <h2>Mi Información Básica</h2>
        <p>Puedes contactarme mediante los siguientes medios si estas interesado en mis servicios o tienes alguna duda.</p>
    </div>

    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="information-card">
                <i class="las la-envelope bg-1"></i>
                <h3><a href="#">jdpo2008@gmail.com</a></h3>
                <p>Correo Electrónico</p>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6">
            <div class="information-card bg-2">
                <i class="las la-phone bg-2"></i>
                <h3><a href="#">+51 910 380 781</a></h3>
                <p>Número Telefónico</p>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6">
            <div class="information-card">
                <i class="las la-layer-group bg-3"></i>
                <h3><a href="https://wwww.innovacionesjd.com" target="_blank">www.innovacionesjd.com</a></h3>
                <p>Pagina Web</p>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6">
            <div class="information-card">
                <i class="las la-map-marked-alt bg-4"></i>
                <h3><a href="#" target="_blank">San Miguel, Lima</a></h3>
                <p>Dirección</p>
            </div>
        </div>
    </div>
</div>
