<div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="personal-banner-img">
            <img src="./assets/images/portfolio/banner_jd.jpg" class="img-banner" alt="Image">
            <div class="personal-shape">
                <img src="./assets/images/shape/shape24.png" class="shape-24" alt="Shape">
                <img src="./assets/images/shape/shape2.png" class="shape-2" alt="Shape">
                <img src="./assets/images/shape/shape13.png" class="shape-13" alt="Shape">
            </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="personal-bennr-text">
            <span>Hola, yo soy </span>
            <h1>José Daniel Pérez</h1>
            <h3>Desarrollador - FullStack</h3>
            <p class="text-justify">Tengo 5 años de experiencia en desarrollo de Software utilizando el lenguaje C# en .net Framework y .net Core aplicando diferentes patrones de diseño y 3 años de experiencia en desarrollo FrontEnd con el Framework Angular desde su versión AngularJs y Angular2+.</p>

            <div class="personal-btn">
                <a href="https://drive.google.com/uc?export=download&id=1IJEn9t1dWmQ1Iu-eHRJhhjxLrpz8p_kv" class="default-btn personal-btn-1 mr-3" target="_blank">Descargar CV</a>
                <!-- <a href="#" class="default-btn personal-btn-2">Hire Me</a> -->
            </div>

            <div class="personal-text-shape">
                <img src="./assets/images/shape/shape2.png" class="shape-2" alt="Image">
                <img src="./assets/images/shape/shape14.png" class="shape-14" alt="Image">
                <img src="./assets/images/shape/shape4.png" class="shape-4" alt="Image">
                <img src="./assets/images/shape/shape22.png" class="shape-22" alt="Image">
                <img src="./assets/images/shape/shape23.png" class="shape-23" alt="Image">
            </div>
        </div>
      </div>
    </div>
  </div>